:root {
  --primarySoftblue: hsl(215, 51%, 70%);
  --primaryCyan    : hsl(178, 100%, 50%);
  --mainBG         : hsl(217, 54%, 11%);
  --cardBG         : hsl(216, 50%, 16%);
  --line           : hsl(215, 32%, 27%);
  --white          : hsl(0, 0%, 100%);
  --divider_col: hsl(215, 32%, 27%);
  /* hsl(215, 32%, 27%) */
  --dark           : hsl(218, 52%, 9%);
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
  font      : 18px 'Outfit', sans-serif;
}

body {
  display         : grid;
  /* place-items     : center; */
  height          : 100vh;
  background-color: var(--mainBG);
}

.card {
    background-color: var(--cardBG);
    max-width: 300px;
    max-height: 700px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* margin: 50px; */
    margin: auto;
    box-shadow: 10px 15px var(--dark), -10px 15px var(--dark);
}

#nft-id {
    color: white;
    margin: 1em 0;
    font-size: 1.2rem;
}

.main-image {
    border-radius: 10px;
}

#nft-info {
  color: #8BACDA;
  font-size: 0.86rem;
}

#balance-container {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  justify-content: space-between;
}

.balance-item {
  display: flex;
  flex-direction: row;
}

#balance {
  color: var(--primaryCyan);
  font-size: 0.9rem;
  padding: 5px 5px;
}

#days-left {
  padding: 5px 5px;
  font-size: 0.89rem;
  color: #8BACD9;
}

#divider {
  width: 100%;
  height: 1px;
  background-color: var(--divider_col);
}

.bottom-info {
  display: flex;
  flex-direction: row;
  margin: 15px 0px 0px;
}

#creation {
  margin: 2px 5px;
  color: #8BACDA;
  font-size: 0.7rem;
  line-height: 25px;
  margin-left: 10px;
}

#creator {
  color: white;
  font-size: inherit;
}

#creator:hover, #nft-id:hover {
  color: var(--primaryCyan);
}

.image-container:hover::after {
    height: 250px;
    width: 250px;
    position: absolute;
    transform: translateX(-100%);
    content: "";
    background-color: hsl(178, 100%, 50%,0.5);
    border-radius: 10px;
}

.image-container:hover::before {
    height: 250px;
    width: 250px;
    position: absolute;
    transform: translate(43%, 43%);
    content: "";
    background-image: url(images/icon-view.svg);
    background-repeat: no-repeat;
    z-index: 1;
}